/******************
    RESET PAGINA
*******************/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/********************
    VARIABILI CSS 
*********************/

:root {

    /* Background color */
    --bg-main: #141414;
    --bg-secondary: #000000;
    --bg-overlay: #181818;

    /* Color */
    --text-main: #ffffff;
    --text-secondary: #4B4B4B;
    --text-muted: rgba(255, 255, 255, 0.75);

    /* Accent */
    --accent-red: #E50914;
}

/**********************
    REGOLE GENERALI
***********************/
html {
    font-size: 12px;
}

body {
    font-family: "Roboto", sans-serif;
    font-style: normal;
    font-size: 1rem;
    color: var(--text-main);
    background-color: var(--bg-main);
}

ul {
    list-style-type: none;
}

/***************************
    CLASSI RIUTILIZZABILI
***************************/

/** Flexbox */
.flex-row {
    display: flex;
}

.gap-20 {
    gap: 20px;
}

/**************
    HEADER
***************/
.myHeader {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 70px;
    margin: 0 30px;

    /* Debug */
    /* background-color: greenyellow; */
}

.myHeader>.flex-row {
    align-items: center;
    gap: 10px;
}

/************
    LOGO
*************/

.logo {
    height: 68px;
    width: auto;
}

/************
    NAVBAR
*************/

nav a {
    text-decoration: none;
    color: var(--text-muted);
}

nav a:hover {
    color: var(--text-main);
}

nav a.active {
    font-weight: bold;
    color: var(--text-main);
}

/***************
    SEARCHBAR
****************/

.iconSearch {
    margin-top: 5px;
    font-size: 1.4rem;
}

.searchbar {
    background-color: var(--bg-secondary);
    border: 1px solid var(--text-muted);
    padding: 0 5px;
}

.input {
    border: none;
    outline: none;
    color: white;
    background-color: transparent;
    padding: 5px;
}


/******************
    SEZIONE MEDIA
*******************/
.mediaSection {
    margin: 40px 50px;
}


.containerPosterList {
    display: flex;
    gap: 5px;
    padding-bottom: 3px;
    margin-top: 10px;
    overflow-x: auto;
    overflow-y: hidden;
}


/** Layout Scrollbar */

/* Altezza barra */
.containerPosterList::-webkit-scrollbar {
    height: 7px;

}

/* Colore sfondo barra */
.containerPosterList::-webkit-scrollbar-track {
    background: #222;
}

/* Colore slider */
.containerPosterList::-webkit-scrollbar-thumb {
    background-color: #353535;
    border-radius: 4px;
}

/* Colore slider hover */
.containerPosterList::-webkit-scrollbar-thumb:hover {
    background-color: #5c5c5c;
}

/* Poster film/serie */
.imgPoster {
    height: 100%;
    object-fit: cover;

}