/******************
    RESET PAGINA
*******************/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/********************
    VARIABILI CSS 
*********************/

:root {

    /* Background color */
    --bg-main: #141414;
    --bg-secondary: #000000;
    --bg-overlay: #181818;

    /* Color */
    --text-main: #ffffff;
    --text-secondary: #4B4B4B;
    --text-muted: rgba(255, 255, 255, 0.75);

    /* Accent */
    --accent-red: #E50914;
}

/**********************
    REGOLE GENERALI
***********************/
html {
    font-size: 12px;
}

body {
    font-family: "Roboto", sans-serif;
    font-style: normal;
    font-size: 1rem;
    color: var(--text-main);
    background-color: var(--bg-main);
}

ul {
    list-style-type: none;
}

/***************************
    CLASSI RIUTILIZZABILI
***************************/

/** Flexbox */
.flex-row {
    display: flex;
}

.gap-20 {
    gap: 20px;
}

/**************
    HEADER
***************/
.myHeader {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 70px;
    background-color: rgba(0, 0, 0, 0.70);
    
    /* Position */
    position: fixed;
    top: 0;
    z-index: 2;
}

.myHeader>.flex-row {
    align-items: center;
    gap: 10px;
}

.headerLeft {
    margin-left: 50px;
}

.headerRight {
    margin-right: 50px;
} 

/************
    LOGO
*************/

.logo {
    height: 30px;
    margin-right: 25px;
    width: auto;
}

/************
    NAVBAR
*************/

nav a {
    text-decoration: none;
    color: var(--text-muted);
}

nav a:hover {
    color: var(--text-main);
}

nav a.active {
    font-weight: bold;
    color: var(--text-main);
}

/***************
    SEARCHBAR
****************/

.iconSearch {
    margin-top: 5px;
    font-size: 1.4rem;
}

.searchbar {
    background-color: var(--bg-secondary);
    border: 1px solid var(--text-muted);
    padding: 0 5px;
}

.input {
    border: none;
    outline: none;
    color: white;
    background-color: transparent;
    padding: 5px;
}

/************
    HERO
************/
.heroSection {
    width: 100%;
    height: 70vh;
    min-height: 450px;
    overflow: hidden;

    /* Posizione relativa per logo + titolo */
    position:relative;
}

.heroSection > img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.containerLogoTitle {
    margin: 0 50px;
    width: 500px;
    position: absolute;
    bottom: 180px;
}

.heroLogo {
    width: 45px;
}

.heroTitle {
    font-size: 3rem;
    font-weight: 900;
    letter-spacing: 2px;
}

/******************
    SEZIONE MEDIA
*******************/
.mediaSection {
    margin: 40px 50px;
}

.mediaSectionHero {
    margin-top: -90px;
    margin-bottom: 30px;
    position: relative;
    z-index: 2;
}

.containerPosterList {
    display: flex;
    gap: 5px;
    padding-bottom: 3px;
    margin-top: 10px;
    overflow-x: auto;
    overflow-y: hidden;
    background-color: var(--bg-main)
}

.firstSectionNewsPopulars {
    margin-top: 120px;
}

/** Layout Scrollbar */

/* Altezza barra */
.containerPosterList::-webkit-scrollbar {
    height: 7px;
}

/* Colore sfondo barra */
.containerPosterList::-webkit-scrollbar-track {
    background: #222;
}

/* Colore slider */
.containerPosterList::-webkit-scrollbar-thumb {
    background-color: #353535;
    border-radius: 4px;
}

/* Colore slider hover */
.containerPosterList::-webkit-scrollbar-thumb:hover {
    background-color: #5c5c5c;
}

/* Poster film/serie */
.imgPoster {
    height: 100%;
    object-fit: cover;

}

/******************
    MEDIA CARD
*******************/

.cardMedia {
    transition: transform 0.25s ease;
}

.cardMedia:hover {
    transform: scale(1.2);
    
}


/*******************
    LA MIA LISTA
********************/
.myListPage {
    margin-top: 100px;
    margin-left: 50px;
}

.containerListaVuota {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 60vh;
}

.testoListaVuota {
    color: var(--text-secondary);
    font-size: 1.2rem;
}